.autoComplete_wrapper {
    position: relative;

    ul {
        position: absolute;
        max-height: 220px;
        overflow-y: scroll;
        box-sizing: border-box;
        left: 0;
        width: 400px;
        margin: 0;
        padding: 0.1em;
        z-index: 1;
        list-style: none;
        background-color: white;
        border: 1px solid lightgray;
    }

    li {
        list-style-type: none;
        margin: 0.3rem;
        padding: 0.3rem 0.5rem;
        font-size: 1rem;
        background-color: white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;

        .data-code {
            width: 70px;
            min-width: 70px;
            text-align: right;
            padding-right: 15px;
        }

        .data-name {
            width: 100%;
        }

        mark {
            background-color: darkorange;
            color: white;
            padding: 1px;
            display: inline-block;
            height: 1.1em;
            line-height: 1em;
        }
    }

    li:nth-child(even) {
        background-color: #f6f6f6;
    }

    li[aria-selected="true"] {
        background-color: lightblue;
    }

}
