h5 {
    font-weight: bold;
}

.logo-square {
    width: 5rem;
    height: 5rem;
}
.logo-small {
    width: 1.3rem;
    height: 1.3rem;
}

.logo-bg-color {
    fill: $primary;
}

.lh-0 {
    line-height: 1;
}
.pointy {
    cursor: pointer;
}
.dataTables_paginate nav .pagination {
    justify-content: flex-end;
}

.btn-label {
    width: 30px;
    min-height: 30px;
    height: 100%;
    padding-top: 5px;
    top: -1px !important;
    left: -1px !important;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}
.btn-label-text {
    padding-left: 18px;
}
.content {
    padding-top: 0.5rem;
}
.toolbar {
    padding: 1.5rem 1.5rem 0;
    width: 100vw;
    max-width: 100vw;
    direction: ltr;
}
.navbar {
    box-shadow: none;
    border-bottom: 0;
}
@media (min-width: 768px) {
    .toolbar {
        width: auto;
        max-width: auto;
    }
}
@media (min-width: 992px) {
    .toolbar {
        margin: 0;
        padding: 0.5rem 3.5rem 0;
    }
}
@media print {
    body, .main {
        background-color: $white;
    }
    .content {
        padding-left: 0;
        padding-right: 0;
    }
    .col-10.d-for-print {
        width: 100%;
    }
    .card {
        box-shadow: none;
        border: 0;
        background-color: $white;
    }
    .card > h4 {
        border-bottom: 1px solid $gray-200;
    }
    .dataTables_wrapper > div.row:first-child,
    .dataTables_wrapper > div.row:last-child {
        display: none;
    }
    .dataTables_wrapper th.sorting::before,
    .dataTables_wrapper th.sorting::after {
        content: "" !important;
    }
    .table-hover>tbody>tr:hover {
        --bs-table-accent-bg: transparent;
    }
}

.dataTables_wrapper {
    margin-bottom: 1em;
}

.dataTables_wrapper > div.row {
    margin-right: 0;
    margin-left: 0;
}

.dataTables_wrapper > div.row:first-child {
    background-color: $cyan;
    color: $white;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.color-code {
    border: 1px solid $gray-600;
    width: 0.7em;
    height: 0.7em;
    display: inline-block;
}

.color-code.green { background-color: $green; }
.color-code.orange { background-color: $orange; }
.color-code.red { background-color: $red; }
.color-code.black { background-color: $black; }

/* equal height columns */
.col.col-content {
    margin-bottom: 24px;
}

.card.col-content {
    height: 100%;
    margin-bottom: 0;
}

/* image upload */
.image-upload {
    width: 180px;
    height: 180px;
    margin: 0 0 25px 0;
    position: relative;
}
.image-remove-icon-minus, .image-remove-icon-delete {
    position: absolute;
    right: 2px;
    top: 2px;
    line-height: 0;
    padding: 2px;
    cursor: pointer;
    background-color: $white;
    border-radius: 100%;
    border: 1px solid $gray-600;
    opacity: 0.6;
    transition: 0.3s;
}
.image-remove-icon-delete {
    background-color: $black;
    color: var(--bas-light);
}
.image-remove-icon-minus:hover, .image-remove-icon-delete:hover {
    opacity: 1;
}
.image-preview {
    width: 100%;
    height: 180px;
    background-position: center center;
    background-color: $white;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid $gray-300;
    background-image: url("/images/camera.svg");
    border-bottom: 0;
    padding: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.btn-upload {
    display: block;
    border-radius: 0;
    margin-top: 0;
    border: 1px solid $gray-300;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.upload-file-hidden {
    width: 0;
    height: 0;
    overflow: hidden;
}

.main-toolbar {
    background: $white;
    padding: 0 3rem 0.5rem;
    border-bottom: $navbar-border-bottom;
    box-shadow: $navbar-box-shadow;
}

.btn-tool {
    border-color: $gray-400;
}
.btn-tool-white {
    @include button-color($gray-800);
    @include button-color-hover($gray-700);
    @include button-bg($gray-100);
}
.tool-icon {
    display: inline-block;
}
.tool-text {
    display: inline-block;
    font-size: $font-size-sm;
}

.row-animation-normal {
    animation: changeBackgroundNormal 200ms;
    animation-iteration-count: 1;
}
.row-animation-warning {
    animation: changeBackgroundWarning 200ms;
    animation-iteration-count: 1;
}
.row-animation-danger {
    animation: changeBackgroundDanger 200ms;
    animation-iteration-count: 1;
}
@keyframes changeBackgroundNormal {
    to {
        background-color: $success;
    }
}
@keyframes changeBackgroundWarning {
    to {
        background-color: $warning;
    }
}
@keyframes changeBackgroundDanger {
    to {
        background-color: $danger;
    }
}
